<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>Editing Plan <%= @plan.id %></h1>

        <%= render 'form', plan: @plan %>
        <a class="btn btn-primary btn-block" href="<%= plan_path %>">Show</a>
        <a class="btn btn-danger btn-block" href="<%= plans_path %>">Back</a>

    </div>
    <div class="col-md-4"></div>
</div>