<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>New Plan</h1>

        <%= render 'form', plan: @plan %>

        <a class="btn btn-danger btn-block d-none d-md-block" href="<%= plans_path %>">Back</a>

    </div>
    <div class="col-md-4"></div>
</div>