  <div class="newBody">
    <section id="full-height" class="text-white">
        <div class="row">
            <div class="col-lg-2 mx-auto">
                <h3>Requirements</h3>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Cognates
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body scroll">
                                <ul id="cognates"></ul>
                                <div class="drag" id="testid"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Core
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body scroll">
                                <ul id="core"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Electives
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body scroll">
                                <ul id="electives"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 mx-auto">
            <h3>Academic Plan</h3>
                <div id="academicPlan"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 mx-auto">
                <table class="table table-striped table-dark table-sm" id="planInfo">
                    <tr>
                        <td width="125px"><strong>Plan:</strong></td>
                        <td>
                            <%= @plan.name %>
                            <span id="planId" style="display: none;"><%= @plan.id %></span>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Student:</strong></td>
                        <td><span id="studentName"></span></td>
                    </tr>
                    <tr>
                        <td><strong>Major:</strong></td>
                        <td><span id="studentMajor"></span></td>
                    </tr>
                    <tr>
                        <td><strong>Catalog:</strong></td>
                        <td><span id="studentCatalog"></span></td>
                    </tr>
                    <tr>
                        <td><strong>Total Hours:</strong></td>
                        <td><span id="totalHours"></span></td>
                    </tr>
                </table>
                </div>
            <div class="col-lg-10 mx-auto">
                <div class="row controls">
                    <div class="col-md-2"><h3>Course Catalog</h3></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"><button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#instructions">Instructions</button></div>
                    <div class="col-md-2"><input class="btn btn-primary btn-block" id="addYear" type="button" value="Add Year" /></div>
                    <div class="col-md-2"><input class="btn btn-danger btn-block" id="removeYear" type="button" value="Remove Year" /></div>
                    <div class="col-md-2"><input class="btn btn-dark btn-block border border-secondary drop" id="remove-course" type="button" value="Remove Course" /></div>
                </div>
                <table class="table table-striped table-dark drop" id="catalogTable">
                    <thead>
                        <tr>
                            <th id="classID">Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Credits</th>
                        </tr>
                    </thead>
                    <tbody id="catalog">
                    </tbody>
                </table>
            </div>
        </div>
    </section>
  </div>

<!-- Modal -->
<div class="modal fade" id="instructions" tabindex="-1" role="dialog" aria-labelledby="instructionsLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="instructionsLabel">APE Instructions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="modal-body">
        <ul>
            <li>To add a course to a Plan, drag and drop from the Catalog or the Requirements Accordian to the Plan.</li>
            <li>To remove a course from the Plan, drag and drop into to the <i>Remove Course</i> button or into the catalog.</li>
            <li>Courses can be dragged and dropped among semesters</li>
            <li>Courses included in the Plan highlight in green in the Requirements.</li>
            <li>Total semester hours dynamically update based on course load.</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </div>
</div>