    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="col-lg-3">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">APE<small> ACADEMIC PLANNING SOLUTIONS</small></a>
        </div>
        <div class="col-lg-6"></div>
        <div class="col-lg-1">
            <a class="btn btn-primary btn-block d-none d-md-block" href="../../">Plans</a>
        </div>
        <div class="col-lg-1">
            <a class="btn btn-primary btn-block d-none d-md-block" href="">Options</a>
        </div>
        <div class="col-lg-1">
            <a class="btn btn-primary btn-block d-none d-md-block" href="">Save</a>
        </div>
    </nav>